<nav class="navbar navbar-light fixed-top navbar-expand" style="background-color: #e3f2fd;">
  <a class="navbar-brand" routerLink="/">RunNumber</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/">
          <i class="fas fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/activities">
          <i class="fas fa-rss"></i>
          <span>Activity</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/namespaces">
          <i class="fas fa-exchange-alt"></i>
          <span>Switch</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/new">
          <i class="fas fa-plus-circle"></i>
          <span>New Bill</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
