@media (max-width: 767px) {
	.navbar-nav {
		margin-left: auto;
	}
	.navbar-nav i.fas + span {
		display: none;
	}
	.navbar-nav i.fas {
		font-size: 27px;
	}
}

.navbar-nav i.fas {
	margin-right: 4.5px;
}