<form>
	<div class="form-group">
		<label for="amount">Amount</label>
		<input type="number" min=0 step="0.01" class="form-control" id="amount" name="amount">
	</div>
	<div class="form-group">
		<label for="currency">Currency</label>
		<input type="text" class="form-control" id="currency" name="currency">
	</div>
	<div class="form-group">
		<label for="name">Paid By</label>
		<input type="text" class="form-control" id="name" name="name">
	</div>
	<div class="form-group">
		<label for="comment">Comment</label>
		<input type="text" class="form-control" id="comment" name="comment">
	</div>
	<button type="button" class="btn btn-primary">Submit</button>
</form>
