.buddy div.card-body h3 {
    color: #fff;
    background-color: #17a2b8;
    display: inline-block;
    padding: 0.25em 0.4em;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
	border-radius: 0.25rem;
}

.buddy {
    margin-bottom: 2.7rem;
}

.numbers > div {
    margin-bottom: 2rem;
}