<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 numbers">
      <div class="spent-today">
        <h3>US$2.34</h3>
        <div>Spent Today</div>
      </div>
      <div class="spent-total">
        <h3>US$2.34</h3>
        <h3>HK$2.34</h3>
        <div>Spent Total</div>
      </div>
      <div class="you-due">
        <h3>US$2.34</h3>
        <h3>US$2.34</h3>
        <div>Payment Due</div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">
          <div class="card buddy">
            <app-name-with-background name="Isaac" class="card-img-top"></app-name-with-background>
            <div class="card-body">
              <h3>US$13.5</h3>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card buddy">
            <app-name-with-background name="Curtis" class="card-img-top"></app-name-with-background>
            <div class="card-body">
              <h3>US$13.5</h3>
              <h5>HK$922.32</h5>
              <h5>CN¥922.32</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card buddy">
            <app-name-with-background name="Annie" class="card-img-top"></app-name-with-background>
            <div class="card-body">
              <h3>US$13.5</h3>
              <h5>JP¥922.32</h5>
              <h5>CN¥922.32</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>