<form [formGroup]="activity">
	<fieldset [disabled]="isProcessing">
		<div class="form-group">
			<label for="amount">Amount</label>
			<input type="number" min=0 step="0.01" class="form-control" id="amount" formControlName="amount">
		</div>
		<div class="form-group">
			<label for="currency">Currency</label>
			<input type="text" class="form-control" id="currency" formControlName="currency">
		</div>
		<div class="form-group">
			<label for="name">Paid By</label>
			<input type="text" class="form-control" id="name" formControlName="name">
		</div>
		<div class="form-group">
			<label for="time">Time</label>
			<input type="datetime-local" class="form-control" id="time" formControlName="time">
		</div>
		<div class="form-group">
			<label for="comment">Comment</label>
			<input type="text" class="form-control" id="comment" formControlName="comment">
		</div>
	</fieldset>
	<div class="row">
		<div class="col-md button">
			<button (click)="addBill()" type="button" class="btn btn-primary btn-block" [disabled]="isProcessing">
				<span *ngIf="!isProcessing">Submit</span>
				<span *ngIf="isProcessing"><img src="/assets/loading-spin.svg" class="spinner">Processing...</span>
			</button>
		</div>
		<div class="col-md button" *ngIf="activityId">
			<button (click)="delete()" type="button" class="btn btn-danger btn-block" [disabled]="isProcessing">
				<span *ngIf="!isProcessing">Delete</span>
				<span *ngIf="isProcessing"><img src="/assets/loading-spin.svg" class="spinner">Processing...</span>
			</button>
		</div>
	</div>
</form>